@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202632;
  color: #c9dae4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
